.rename-chat-popup {
  display: none;
  box-sizing: border-box;
  width: 250px;
  height: 120px;
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 125px);
  background-color: inherit;
  border-radius: 4px;
  padding: 16px;
  font-size: var(--standard-font-size);
  box-shadow: 5px 5px 15px 100vh rgba(0, 0, 0, 0.6);
}

#rename-chat-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#rename-chat-form div {
  display: flex;
  justify-content: space-between;
}

#rename-chat-form button {
  width: 40%;
}

.chat-name {
  background-color: #f5f5f5;
  font-size: var(--standard-font-size);
  border: 0;
  outline: none;
  border-radius: 4px;
  padding: 8px;
}

.create {
  background-color: #3f51b5;
  color: #ffffff;
  border-radius: 4px;
  padding: 8px 0;
}

.create:hover {
  background-color: #303f9f;
}

.rename-chat-popup-open {
  display: block;
}
